In [1]:
import pandas as pd
import numpy as np

# Source:
# Población: https://www.inegi.org.mx/app/tabulados/interactivos/?pxq=Poblacion_Poblacion_01_e60cd8cf-927f-4b94-823e-972457a12d4b
# GDP: https://www.inegi.org.mx/app/tabulados/default.aspx?pr=17&vr=7&in=2&tp=20&wr=1&cno=2

In [14]:
poblacion_df=pd.read_excel('Poblacion_01.xlsx')
poblacion_df=poblacion_df.replace('Michoacán de Ocampo','Michoacán')
poblacion_df=poblacion_df.replace('Coahuila de Zaragoza','Coahuila')
poblacion_df=poblacion_df.replace('Veracruz de Ignacio de la Llave','Veracruz')
poblacion_df

,Entidad federativa,Grupo quinquenal de edad,2005,2005.1,2005.2,2010,2010.1,2010.2,2020,2020.1,2020.2
0,Entidad federativa,Grupo quinquenal de edad,Total,Hombres,Mujeres,Total,Hombres,Mujeres,Total,Hombres,Mujeres
1,Estados Unidos Mexicanos,Total,103263388,50249955,53013433,112336538,54855231,57481307,126014024,61473390,64540634
2,Estados Unidos Mexicanos,0 a 4 años,10186243,5175913,5010330,10528322,5346943,5181379,10047365,5077482,4969883
3,Estados Unidos Mexicanos,5 a 9 años,10511738,5339127,5172611,11047537,5604175,5443362,10764379,5453091,5311288
4,Estados Unidos Mexicanos,10 a 14 años,10952123,5545910,5406213,10939937,5547613,5392324,10943540,5554260,5389280
...,...,...,...,...,...,...,...,...,...,...,...
755,Zacatecas,85 a 89 años,6230,2993,3237,8507,4152,4355,10975,5233,5742
756,Zacatecas,90 a 94 años,2572,1195,1377,2832,1296,1536,4569,2160,2409
757,Zacatecas,95 a 99 años,1188,517,671,1176,526,650,1723,738,985
758,Zacatecas,100 años y más,267,99,168,253,102,151,239,102,137
759,Zacatecas,No especificado,10915,5480,5435,13218,6608,6610,1858,917,941

In [15]:
Estados=['Aguascalientes', 'Baja California', 'Baja California Sur',
       'Campeche', 'Coahuila', 'Colima', 'Chiapas', 'Chihuahua',
       'Ciudad de México', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo',
       'Jalisco', 'México', 'Michoacán', 'Morelos', 'Nayarit',
       'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo',
       'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas',
       'Tlaxcala', 'Veracruz', 'Yucatán', 'Zacatecas']

years=[2005,2010,2020]


est_year=[]
for year in years:
    for Estado in Estados:
        pop=poblacion_df.loc[(poblacion_df['Entidad federativa']==Estado)&
                             (poblacion_df['Grupo quinquenal de edad']=='Total'),str(year)].values[0]
        est_year.append([Estado,year,pop])
    
poblacion_clean_df=pd.DataFrame(est_year,columns=['Estado','Year','Population'])

poblacion_clean_df

                 Estado  Year  Population
0        Aguascalientes  2005     1065416
1       Baja California  2005     2844469
2   Baja California Sur  2005      512170
3              Campeche  2005      754730
4              Coahuila  2005     2495200
..                  ...   ...         ...
91           Tamaulipas  2020     3527735
92             Tlaxcala  2020     1342977
93             Veracruz  2020     8062579
94              Yucatán  2020     2320898
95            Zacatecas  2020     1622138

[96 rows x 3 columns]

In [10]:
GDP_df=pd.read_csv('PIBE_2.csv')
GDP_df=GDP_df.replace('Michoacán de Ocampo','Michoacán')
GDP_df=GDP_df.replace('Coahuila de Zaragoza','Coahuila')
GDP_df=GDP_df.replace('Veracruz de Ignacio de la Llave','Veracruz')

GDP_df.columns

Index(['Estado', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020 R', '2021 P'],
      dtype='object')

In [73]:
estados_year=[]
for estado in Estados:
    for year in np.arange(2004,2021):
        estados_year.append([estado,year])
        
        

poblacion_interp=pd.DataFrame(estados_year,columns=['Estado','Year'])

poblacion_interp['llave']=poblacion_interp['Estado']+'-'+poblacion_interp['Year'].astype(str)

poblacion_clean_df['llave']=poblacion_clean_df['Estado']+'-'+poblacion_clean_df['Year'].astype(str)


poblacion_interp

             Estado  Year                llave
0    Aguascalientes  2004  Aguascalientes-2004
1    Aguascalientes  2005  Aguascalientes-2005
2    Aguascalientes  2006  Aguascalientes-2006
3    Aguascalientes  2007  Aguascalientes-2007
4    Aguascalientes  2008  Aguascalientes-2008
..              ...   ...                  ...
539       Zacatecas  2016       Zacatecas-2016
540       Zacatecas  2017       Zacatecas-2017
541       Zacatecas  2018       Zacatecas-2018
542       Zacatecas  2019       Zacatecas-2019
543       Zacatecas  2020       Zacatecas-2020

[544 rows x 3 columns]

In [74]:
poblacion_clean_df

                 Estado  Year  Population                     llave
0        Aguascalientes  2005     1065416       Aguascalientes-2005
1       Baja California  2005     2844469      Baja California-2005
2   Baja California Sur  2005      512170  Baja California Sur-2005
3              Campeche  2005      754730             Campeche-2005
4              Coahuila  2005     2495200             Coahuila-2005
..                  ...   ...         ...                       ...
91           Tamaulipas  2020     3527735           Tamaulipas-2020
92             Tlaxcala  2020     1342977             Tlaxcala-2020
93             Veracruz  2020     8062579             Veracruz-2020
94              Yucatán  2020     2320898              Yucatán-2020
95            Zacatecas  2020     1622138            Zacatecas-2020

[96 rows x 4 columns]

In [78]:
reune = poblacion_interp.merge(right= poblacion_clean_df[["llave", "Population"]], how = "left", on = "llave")

reune = reune[["Estado", "Year", "Population"]]

reune_interpol = reune.groupby("Estado")["Population"].apply(lambda x : x.interpolate(method='linear', limit_direction='forward', axis=0)).reset_index()


reune_interpol['Estado']=reune['Estado']
reune_interpol['Year']=reune['Year']

reune_interpol

for estado in Estados:
    
    reune_interpol.loc[(reune_interpol['Estado']==estado)&
                      (reune_interpol['Year']==2004),'Population']=reune_interpol.loc[(reune_interpol['Estado']==estado)&
                      (reune_interpol['Year']==2005),'Population'].values[0]
    
poblacion_completo=reune_interpol[['Estado','Year','Population']]

poblacion_completo

             Estado  Year  Population
0    Aguascalientes  2004   1065416.0
1    Aguascalientes  2005   1065416.0
2    Aguascalientes  2006   1089332.0
3    Aguascalientes  2007   1113248.0
4    Aguascalientes  2008   1137164.0
..              ...   ...         ...
539       Zacatecas  2016   1569550.0
540       Zacatecas  2017   1582697.0
541       Zacatecas  2018   1595844.0
542       Zacatecas  2019   1608991.0
543       Zacatecas  2020   1622138.0

[544 rows x 3 columns]

In [110]:
pob_gdp=poblacion_completo.copy()
pob_gdp['GDP']=0

years_string=[str(y) for y in range(2004,2020)]

for Estado in Estados:
    for year in years_string:
        GDP = GDP_df.loc[GDP_df['Estado']==Estado,year].values[0]
        pob_gdp.loc[(pob_gdp['Estado']==Estado)&
                    (pob_gdp['Year']==int(year)),'GDP']=GDP


pob_gdp = pob_gdp[pob_gdp['GDP'] != 0]

pob_gdp['GDPperCAP']=pob_gdp['GDP']/pob_gdp['Population']

pob_gdp

             Estado  Year  Population         GDP  GDPperCAP
0    Aguascalientes  2004   1065416.0  126554.147   0.118784
1    Aguascalientes  2005   1065416.0  129628.028   0.121669
2    Aguascalientes  2006   1089332.0  138111.823   0.126786
3    Aguascalientes  2007   1113248.0  150305.117   0.135015
4    Aguascalientes  2008   1137164.0  150949.983   0.132742
..              ...   ...         ...         ...        ...
538       Zacatecas  2015   1556403.0  159905.359   0.102740
539       Zacatecas  2016   1569550.0  157998.056   0.100665
540       Zacatecas  2017   1582697.0  157621.131   0.099590
541       Zacatecas  2018   1595844.0  157631.239   0.098776
542       Zacatecas  2019   1608991.0  151882.034   0.094396

[512 rows x 5 columns]

In [111]:
pob_gdp.to_csv('pob_gdp_edos.csv')

In [ ]:
Region_Entidades_federativas={'Sur':['Campeche', 'Chiapas', 'Guerrero', 'Oaxaca', 'Quintana Roo', 'Tabasco', 'Veracruz', 'Yucatán'],
'Centro':['Ciudad de México', 'Estado de México', 'Guanajuato', 'Hidalgo', 'Morelos', 'Puebla', 'Querétaro', 'Tlaxcala'],
'Centro-Norte':['Aguascalientes', 'Baja California Sur', 'Colima', 'Durango', 'Jalisco', 'Michoacán', 'Nayarit', 'San Luis Potosí', 'Sinaloa'],
'Norte':['Baja California', 'Chihuahua', 'Coahuila', 'Nuevo León', 'Sonora', 'Tamaulipas', 'Zacatecas']}

In [116]:
reg_year=[]
for reg in list(Region_Entidades_federativas.keys()):
    for year in np.arange(2004,2020):
        reg_year.append([reg,year])
        
poblacion_por_region=pd.DataFrame(reg_year,columns=['Region','Year'])

for reg in list(Region_Entidades_federativas.keys()):
    for year in np.arange(2004,2021):
        
        pop_reg=pob_gdp.loc[(pob_gdp['Estado'].isin(Region_Entidades_federativas[reg]))&
                              (pob_gdp['Year']==year),'Population'].values.sum()
        
        gdp_reg=pob_gdp.loc[(pob_gdp['Estado'].isin(Region_Entidades_federativas[reg]))&
                              (pob_gdp['Year']==year),'GDP'].values.sum()
        
        poblacion_por_region.loc[(poblacion_por_region['Region']==reg)&
                              (poblacion_por_region['Year']==year),'Population']=pop_reg
        poblacion_por_region.loc[(poblacion_por_region['Region']==reg)&
                              (poblacion_por_region['Year']==year),'GDP']=gdp_reg
        
poblacion_por_region['GDPperCAP']=poblacion_por_region['GDP']/poblacion_por_region['Population']
poblacion_por_region

   Region  Year  Population          GDP  GDPperCAP
0     Sur  2004  23724652.0  3062309.810   0.129077
1     Sur  2005  23724652.0  3098285.915   0.130594
2     Sur  2006  24174262.2  3169952.985   0.131129
3     Sur  2007  24623872.4  3168616.338   0.128681
4     Sur  2008  25073482.6  3136133.603   0.125078
..    ...   ...         ...          ...        ...
59  Norte  2015  22960950.5  4016212.529   0.174915
60  Norte  2016  23276123.4  4137051.716   0.177738
61  Norte  2017  23591296.3  4245072.685   0.179942
62  Norte  2018  23906469.2  4338969.346   0.181498
63  Norte  2019  24221642.1  4374737.988   0.180613

[64 rows x 5 columns]

In [117]:
poblacion_por_region.to_csv('pob_gdp_region.csv')